<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <title>Intense Corporate Category Flat Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content="Intense Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }


    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css'%}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body style="background-image:url({% static 'images\slide.jpg' %});   background-size:cover ">
 {% if messages %}
    {% for message in messages%}
    <script>
        alert("{{message}}")




    </script>
    {% endfor %}
    {% endif %}
<!-- header -->
<header id="home">
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
            <!-- logo -->
            <div id="logo">
                <h1><a href="/tl/show">Intense</a></h1>
            </div>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls ml-lg-5">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li><a href="/tl/show">TL</a></li>
                        <li><a href="/tl/display" class="drop-text">View</a></li>
                        <li><a href="/tl/newemp" class="drop-text">New</a></li>
                        <li><a href="/tl/allocate" class="drop-text">Allocate</a></li>
                        <li><a href="/tl/forms" class="drop-text">AllocatedInfo</a></li>
                        <li><a href="/tl/resource" class="active">Resource</a></li>
                        <li><a href="/tl/myresource">Information</a></li>
                        <li><a href="/tl/logout"> Logout </a></li>


                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</header>


<section class="">
    <!doctype html>
    <html lang="en">
    <head>
        {% load static %}
        <title> Fill Needed Resources </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 't/css/style.css'%}">

    </head>
    <body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Resources Needs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">

                            </thead>
                            <tbody>
                            <!--
   Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
                            <!DOCTYPE html>
                            <html>
                            <head>
                                {% load static %}
                                <title>Gradient Accordion Menu Widget Flat Responsive Widget Template ::
                                    w3layouts</title>
                                <!-- for-mobile-apps -->
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                                <meta name="keywords" content="Gradient Accordion Menu Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
                                <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }

                                </script>
                                <!-- //for-mobile-apps -->
                                <link href="{% static 'f/css/style.css'%}" rel="stylesheet" type="text/css"
                                      media="all"/>
                                <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900'
                                      rel='stylesheet' type='text/css'>
                            </head>
                            <body>
                            <!--
                            Author: W3layouts
                            Author URL: http://w3layouts.com
                            License: Creative Commons Attribution 3.0 Unported
                            License URL: http://creativecommons.org/licenses/by/3.0/
                            -->
                            <!DOCTYPE html>
                            <html>
                            <head>
                                {% load static %}
                                <title>Gradient Accordion Menu Widget Flat Responsive Widget Template ::
                                    w3layouts</title>
                                <!-- for-mobile-apps -->
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                                <meta name="keywords" content="Gradient Accordion Menu Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
                                <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }

                                </script>
                                <!-- //for-mobile-apps -->
                                <link href="{% static 'f/cssG/style.css' %}" rel="stylesheet" type="text/css"
                                      media="all"/>
                                <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900'
                                      rel='stylesheet' type='text/css'>
                                <meta charset="UTF-8">
                                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                <meta name="description" content="Colorlib Templates">
                                <meta name="author" content="Colorlib">
                                <meta name="keywords" content="Colorlib Templates">

                                <!-- Title Page-->
                                <title>Au Register Forms by Colorlib</title>

                                <!-- Icons font CSS-->
                                <link href="{% static 'f/vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
                                      rel="stylesheet" media="all">
                                <link href="{% static 'f/vendor/font-awesome-4.7/css/font-awesome.min.css"
                                      rel="stylesheet' %}" media="all">
                                <!-- Font special for pages-->
                                <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
                                      rel="stylesheet">

                                <!-- Vendor CSS-->
                                <link href="{% static 'f/vendor/select2/select2.min.css' %}" rel="stylesheet"
                                      media="all">
                                <link href="{% static 'f/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet"
                                      media="all">

                                <!-- Main CSS-->
                                <link href="{% static 'f/css/main.css' %}" rel="stylesheet" media="all">

                            </head>


                            <body>
                            <div class="">
                                <div class="wrapper wrapper--w790">
                                    <div class="card card-5">
                                        <div class="card-heading">
                                            <h2 class="title">Resources Needed</h2>
                                        </div>
                                        <div class="card-body">
                                            <form method="POST">
                                                {% csrf_token %}


                                                <div class="form-row">
                                                    <div class="name">project Manager Name</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <div class="rs-select2 js-select-simple select--no-search">
                                                                <select name="pmname">

                                                                    <option disabled="disabled" selected="selected">
                                                                        Choose option
                                                                    </option>
                                                                    {% for d in st %}
                                                                    <option value="{{d.username}}">{{d.username}}
                                                                    </option>

                                                                    {% endfor %}


                                                                </select>
                                                                <div class="select-dropdown"></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="name">Needed Resources</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <input class="input--style-5" type="text"
                                                                   name="resourcename">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="name">Why need Resource?</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <input class="input--style-5" type="text" name="need">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="name">project Name</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <div class="rs-select2 js-select-simple select--no-search">
                                                                <select name="projectname">
                                                                    <option disabled="disabled" selected="selected">
                                                                        Choose option
                                                                    </option>
                                                                    <option value="The BlueBird"> The Bluebird-</option>
                                                                    <option value="Meetup for the good"> Meetup for the
                                                                        good
                                                                    </option>
                                                                    <option value="The Social Experiment">The Social
                                                                        Experiment
                                                                    </option>
                                                                    <option value="The Success">The Success</option>
                                                                    <option value="Stratos">Stratos</option>
                                                                    <option value="Sputnik">Sputnik</option>
                                                                    <option value="Skillup">Skillup</option>
                                                                    <option value="Hornets">Hornets</option>
                                                                    <option value="Bigfish">Bigfish</option>
                                                                    <option value="Mercury">Mercury</option>


                                                                </select>
                                                                <div class="select-dropdown"></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="name">project status</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <div class="rs-select2 js-select-simple select--no-search">
                                                                <select name="onoroff">
                                                                    <option disabled="disabled" selected="selected">
                                                                        Choose option
                                                                    </option>
                                                                    <option value="on-going"> on-going</option>
                                                                    <option value="off-going"> off-going</option>
                                                                </select>
                                                                <div class="select-dropdown"></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="name">DueMonths</div>
                                                    <div class="value">
                                                        <div class="input-group">
                                                            <input class="input--style-5" type="text" name="duedays">
                                                        </div>
                                                    </div>
                                                </div>


                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Jquery JS-->
                            <script src="{% static 'f/vendor/jquery/jquery.min.js' %}"></script>
                            <!-- Vendor JS-->
                            <script src="{% static 'f/vendor/select2/select2.min.js'%}"></script>
                            <script src="{% static 'f/vendor/datepicker/moment.min.js' %}"></script>
                            <script src="{% static 'f/vendor/datepicker/daterangepicker.js' ^}"></script>

                            <!-- Main JS-->
                            <script src="{% static 'f/js/global.js' %}"></script>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 't/js/jquery.min.js'%}"></script>
    <script src="{% static 't/js/popper.js'%}"></script>
    <script src="{% static 't/js/bootstrap.min.js'%}"></script>
    <script src="{% static 't/js/main.js'%}"></script>

    </body>
    </html>

