<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load static %}
    <title>Intense Corporate Category Flat Bootstrap Responsive website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content="Intense Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body style="background-image:url({% static 'images\tt1.jpg' %});

    <!-- header -->
    <header id=" home
">
<div class="container">
    <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
        <!-- logo -->
        <div id="logo">
            <h1><a href="/">Intense</a></h1>
        </div>
        <!-- //logo -->
        <!-- nav -->

        <!-- //nav -->
    </div>
</div>
</header>
<!-- //header -->
<!-- inner banner -->
<div class="">
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
        <li class="breadcrumb-item">
            <a href="/" class="m-0">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<!-- admins  -->
<div class="modal-body align-w3">
    <form action="/emp/register1/" method="post" class="p-sm-3">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages%}
        <script>
        alert("{{message}}")

        </script>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="recipient-name" class="col-form-label" style="color:white">Name</label>
            <input type="text" class="form-control" placeholder="Enter your Name" name="name"
                   required="">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label" style="color:white">Username<i>(only lowercase with
                length of 8 letters)</i></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username"
                   required="" pattern="[a-z]{1,15}">
        </div>

        <div class="form-group">
            <label for="recipient-email" class="col-form-label" style="color:white">Email
                <id>(eg:email@example.com)</id>
            </label>
            <input type="email" class="form-control" placeholder="Enter your email" name="email" id="recipient-email"
                   required="" pattern=".*?@?[^@]*\.+.*">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label" style="color:white">Contact
                <id>(start with 7,8,9 only)</id>
            </label>
            <input type="text" class="form-control" placeholder="Enter Phone No" name="contact" id="recipient-name"
                   required="" pattern="[789][0-9]{9}">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" style="color:white">Team</label>
                <br>
                <select style="width:570px;height:40px" name="team" class="name">

                    <option></option>
                    <option value="new">new</option>
                    <option value="java">java</option>
                    <option value="python">python</option>


                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" style="color:white">Employee status</label>
                <br>
                <select style="width:570px;height:40px" name="status" class="name">

                    <option></option>
                    <option value="old">old</option>
                    <option value="new ">new</option>


                </select>
            </div>


            <div class="form-group">
                <label for="password1" class="col-form-label" style="color:white">Password<i>(Must contain at least one
                    number and one uppercase and lowercase letter, and at least 8 or more characters)</i></label>
                <input type="password" class="form-control" placeholder="******" name="password" id="password1"
                       required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></div>


            <div class="right-w3l">
                <input type="submit" class="form-control bg-theme" value="Register">
            </div>
    </form>

</div>
<!-- //admins -->


<!-- //move top icon -->
</form>
</body>

</html>