<!doctype html>
<html lang="en">
  <head>
    	{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'dis/fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'dis/css/owl.carousel.min.css'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dis/css/bootstrap.min.css'%}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'dis/css/style.css'%}">

    <title>EMPLOYEE DETAILS</title>
  </head>
  <body>



  <div class="content">

    <div class="container">
      <h2 class="mb-5">DETAILS</h2>


      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>

              <th scope="col">NAME</th>
              <th scope="col">USERNAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">CONTACT</th>
               <th scope="col">JOBTITLE</th>




              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
           {% for d in st %} <tr scope="row">




        <td>{{d.name}}</td>

 <td>{{d.username}} </td>
 <td>{{d.email}}</td>
<td>{{d.contact}}</td>

        <td>   <a href="/edits/{{ d.id }}">Edit</a>  </td>
        <td>  <a href="/delete/{{ d.id }}">Delete</a>  </td>
    </tr>
{% endfor %}








          </tbody>
        </table>
      </div>


    </div>

  </div>



    <script src="{% static 'dis/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'dis/js/popper.min.js'%}"></script>
    <script src="{% static 'dis/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'dis/js/main.js'%}"></script>

  </body>
</html>