<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load static %}
    <title>Intense Corporate Category Flat Bootstrap Responsive website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Intense Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>

    <!-- header -->
    <header id="home">
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="/">Intense</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->

                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
                <a href="/" class="m-0">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- admins  -->
    <div class="modal-body align-w3">
        <form  method="post" class="p-sm-3">
            {% csrf_token %}

          <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter your Name" name="name"
                    required="">
             </div>
             <div class="form-group">
                <label for="recipient-name" class="col-form-label">Username<i>(only lowercase with length of 8 letters)</i></label>
                <input type="text" class="form-control" placeholder="Enter Username" name="username"
                    required="" pattern="[a-z]{1,15}" >
            </div>

              <div class="form-group">
                <label for="recipient-email" class="col-form-label">Email <id>(eg:email@example.com)</id></label>
                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="recipient-email"
                    required=""   pattern=".*?@?[^@]*\.+.*">
            </div>
             <div class="form-group">
                 <label for="recipient-name" class="col-form-label">Contact <id>(start with 7,8,9 only)</id></label>
                <input type="text" class="form-control" placeholder="Enter Phone No" name="contact" id="recipient-name"
                    required="" pattern="[789][0-9]{9}">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Jobtitle</label>
                <input type="text" class="form-control" placeholder="Enter Job Title" name="jobtitle"
                    required=""
                >

            </div>



           <div class="form-group">
                <label for="password1" class="col-form-label">Password<i>(Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters)</i></label>
                <input type="password" class="form-control" placeholder="******" name="password" id="password1"
                    required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></div>


            <div class="right-w3l">
                <input type="submit" class="form-control bg-theme" value="Register">
            </div>
   </form>

    </div>
    <!-- //admins -->

    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container">
            <div class="row p-sm-4 px-3 py-3">
                <div class="col-lg-4 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            Intense
                        </a>
                    </h2>
                    <div class="fv3-contact mt-2">
                        <p>
                            <a href="mailto:example@email.com">info@example.com</a>
                        </p>
                    </div>
                    <div class="fv3-contact my-2">
                        <p>+456 123 7890</p>
                    </div>
                    <div class="fv3-contact">
                        <p>+90 nsequursu dsdesdc,
                            <br>xxx Street State 34789.</p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="about.html">
                                    About Us
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="#">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    Latest posts
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    Explore
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="#">
                                    more
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    our work
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    Explore
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#">
                                    contact us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    references
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li class="my-2">
                                <a href="#">
                                    Explore
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Mission
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#">
                                    Latest posts
                                </a>
                            </li>

                            <li class="mb-2">
                                <a href="#">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center">
        <p class="text-wh">© 2019 Intense. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->
</form>
</body>

</html>